body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0b1e3b;
color:white;
}

.container{
max-width:1100px;
margin:auto;
padding:40px;
}

.btn-voltar{
margin-bottom:20px;
padding:10px 20px;
border-radius:10px;
border:none;
background:#2aa8e0;
color:white;
cursor:pointer;
}

.btn-salvar{
margin-top:30px;
width:100%;
padding:18px;
border:none;
border-radius:12px;
background:linear-gradient(180deg,#2aa8e0,#1c86c9);
color:white;
font-size:16px;
cursor:pointer;
}

.card-local{

background:#1b355f;
padding:15px;
border-radius:10px;
margin-bottom:15px;

}

.local-titulo{
font-weight:bold;
font-size:18px;
display:block;
margin-bottom:10px;
}

.item-check{
margin-left:20px;
margin-bottom:8px;
}

textarea{
display:none;
width:100%;
margin-top:5px;
padding:8px;
border-radius:8px;
border:1px solid rgba(255,255,255,0.2);
background:#0e1f3d;
color:white;
}

.item-check label{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px;
cursor:pointer;
border-radius:8px;
}

.item-check label:hover{
background:rgba(255,255,255,0.05);
}