body{
margin:0;
font-family:Arial;
}

.login-bg{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(180deg,#0b1e3b,#0d2c57);

}

.login-card{

width:340px;

padding:40px;

border-radius:20px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(10px);

color:white;

text-align:center;

}

.titulo-senai{

font-size:26px;

font-weight:bold;

margin-bottom:5px;

}

.subtitulo{

font-size:14px;

margin-bottom:25px;

opacity:0.9;

}

.back-arrow{

text-align:left;

font-size:20px;

margin-bottom:20px;

cursor:pointer;

}

.input-group{

display:flex;

align-items:center;

border:1px solid white;

border-radius:25px;

padding:10px 15px;

margin-bottom:20px;

}

.input-group input{

background:none;

border:none;

outline:none;

color:white;

flex:1;

font-size:14px;

}

.icon{

margin-right:10px;

}

.login-btn{

width:100%;

padding:12px;

border-radius:25px;

border:none;

background:white;

color:#0b1e3b;

font-weight:bold;

cursor:pointer;

margin-top:10px;

}

.forgot{

margin-top:10px;

font-size:12px;

}

.signup{

margin-top:10px;

font-size:13px;

}

.signup span{

font-weight:bold;

}

.divider{

margin:15px 0;

font-size:12px;

opacity:0.8;

}

.social-text{

font-size:12px;

margin-bottom:10px;

}

.social-icons a{

margin:0 10px;

font-size:20px;

text-decoration:none;

color:white;

}

button{

transition:0.2s;

}

button:hover{

background:white !important;
color:#0b1e3b !important;

}

button:active{

background:white !important;
color:#0b1e3b !important;

}